@import url("https://fonts.googleapis.com/css?family=Helvetica");

body {
  font-family: Helvetica !important; 
}

.color1 {
  color: #363636;
}
.color2 {
  color: #524d4d;
}
.color3 {
  color: #531515;
}
.color4 {
  color: #dbedf3;
}
.fondo1 {
  background: #283149;
}
.fondo2 {
  background: #524d4d;
}
.fondo3 {
  background: #531515;
}
.fondo4 {
  background: #dbedf3;
}

footer {
  background: #2e0e0e !important;
}

.main {
  right: 0;
  left: 0;
  margin-top: 50%;
  position: relative;
  width: 100%;  
}

.uppercase {
  text-transform: uppercase;
}

.test {
  background-image: url(../assets/autonomos.jpg);
  background-size: contain;
}

nav{z-index: 3 !important;}
.sidenav-overlay{z-index: 1;}
@media only screen and (max-width: 600px) {
    .main {
        margin-top: 170%;
        
      }
}
